.hangman{
	position:relative;
	width: 125%;
	height: auto;
	margin-left: 50px;
	
	 
}

.rpg{
	position:relative;
	margin-left: 315px;
	margin-top: -170px;
	width: 125%;
	height: auto;
}

.trivia{
	position:relative;
	width: 125%;
	height: auto;
	margin-left: 50px;
	margin-top: 50px;
}

.rutgers{
	position:relative;
	margin-left: 315px;
	margin-top: -170px;
	width: 125%;
	height: auto;
}

.rock{
	position:relative; 
	width: 125%;
	height: auto;
	margin-left: 50px;
	margin-top: 50px;
}

.meh{
	
}

#contact_form{
	
}